body {
    color: #000000;
}
.button:hover {
    cursor: pointer;
}
#hbutton {
    display: none;
}
.mid {
    text-align: center;
    align: center;
}
#other {
    text-align: left;
    font-size: 65%;
}
