body {
    color: #000000;
}
.button:hover {
    cursor: pointer;
}
#hbutton {
    display: none;
}
.mid {
    text-align: center;
    align: center;
}
#other {
    text-align: left;
    font-size: 65%;
}
.gray {
	color: gray
}
.black {
	color: black;
}
.green {
	color: green;
}
.blue {
	color: blue;
}
.red {
	color: red;
}
.purple {
	color: purple;
}
.gold {
	color: #dcba00;
}
